<h1> welcome to battle. </h1>
<b> enter your names: </b>

<form action="/names" method="post">

 <label for="1_name">
   player 1 name
   <input type="text" name="p1_name">
   </label>

 <label for="p2_name">
   player 2 name
   <input type="text" name="p2_name">
   </label>


<input type="submit" value="submit">